:root {
  --darkest: #0d0d0d;
  --darker: #1a1a1a;
  --dark: #717171;
  --light: #d9d9d9;
  --orange: #C03010;
  --blue: #3A9197;
}

body {
  background-color: red;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  max-height: 100vh;


}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;





  text-align: center;
  background-color: var(--darkest);
  color: var(--light);
  font-family: sans-serif;
  height: 100%;

  max-width: 100vw;
  width: 100%;
  background-image: url('../src/assets/background/city_landscape.jpg');

  background-color: #1a1a1a;




}